char const ssid[32] = "TALKTALK227CC2-2G";
char const password[32] = "3N7FEUR9";
#define LISTEN_PORT 9142
#define BROADCAST_PORT 9143

/* GPIO that the relay is directly connected to */
#define RELAY_GPIO 2
/* GPIO that a DHTxx IC is directly connected to */
#define DHTXX_GPIO 0

/* DHTxx IC connected to DHTXX_GPIO */
//#define WITH_DHTXX
/* DS18B20 IC connected to the GPIO defined in include/driver/ds18b20.h */
//#define WITH_DS18B20
/* All communication is done via I2C.  GPIO 0 to SCL, GPIO 2 to SDA.  SHT30 and PCF8574 are on the bus. */
#define WITH_I2C
#define SHT30_1_ADDRESS 0x44
#define SHT30_2_ADDRESS 0x45
#define PCF8574_ADDRESS 0x7e
#define RELAY_CHANNEL 1
